@using InfnetMVC.ViewModels
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InfnetMVC</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />

</head>
<body>
    <div class="px-2">
        <header class=" header_section long_section px-0">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
            <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <span>
                            InfnetMVC
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Funcionarios" asp-action="Index">Funcionario</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Departamentos" asp-action="Index">Departamentos</a>
                                </li>
                            </ul>
                        </div>
                   </div>
                   
                        @{
                            await Html.RenderPartialAsync("_LoginPartial", new LoginViewModel());
                        }
            </div>
            </nav>
        </header>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>
                &copy; 2024 - InfnetMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy - </a> All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
                Distribution <a href="https://themewagon.com">ThemeWagon</a>
            </p>
        </div>
    </footer>
    <!-- jQery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist1/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist1/js/slick.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
