@{
    ViewData["Title"] = "Home Page";
}

<section class="px-2 hero_area slider_section long_section">
    <div id="customCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    Desenvolvimento Web com <br> 
                                    .Net e Bases de Dados
                                </h1>
                                <p>
                                    disciplina do curso de Engenhario de Software, do Instituto INFNET, misnistrada pelo professor Ricardo Frohlich.
                                    projeto desenvolvido pela aluna Leila Hortencio, utilizando o padrão de arquitetura MVC (Model-View-Controller) e SQLite.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img src="img/Saly-10.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    Disciplinas de <br>
                                    Programação
                                </h1>
                                <p>
                                    As diciplinas ministradas durante este bloco, que incluíram UML, Java e C#, tive uma experiência bastante enriquecedora.
                                    Acredito que todos os professores adoram uma abordagem prática e proporcionaram projetos desafiadores que refletiam situações reais,
                                   oque contribuirá significativamente para nossa preparação para o mercado de trabalho.
                              
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img src="img/Saly-11.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="detail-box">
                                <h1>
                                    Possíveis <br>
                                    Melhorias
                                </h1>
                                <p>
                                    Um dos principais pontos de melhoria e o feedbeck, 
                                    os TP´s são a principal maneira que os alunos tem para medir o proprio aprendizado e entendimento,
                                    mas em algumas materias não a retorno desses trabalhos.
                                    Tambem seria interessante a volta das atividades extras(nível prata e ouro) e dos trabalhos em grupo, mas não de um fixo, 
                                    para que os alunos possam trabalhar em equipe.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="img-box">
                                <img src="img/Saly-13.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel" data-slide-to="1"></li>
            <li data-target="#customCarousel" data-slide-to="2"></li>
        </ol>
    </div>
</section>
